* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --pc: #3936c4;
  --bgc: #fffcf5;
  --icon1: #009bff;
  --icon2: #ff8100;
  --icon3: #8a5cd7;
  font-size: 0.625em;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 1em;
  padding-bottom: 15em;
  padding-top: 7em;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  cursor: pointer;
}

h1 {
  font-size: 7em;
}
h2 {
  font-size: 4.2em;
}
h3 {
  font-size: 3.2em;
}
h4 {
  font-size: 2.4em;
}
p {
  font-size: 1.6em;
}
a {
  font-size: 1.8em;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
button {
  font-size: 1.6em;
  background-color: var(--pc);
  padding: 1em 2em;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn2 {
  background-color: #e1e5e8;
  color: #ff8100;
  padding: 1em 2em;
  border-radius: 0.5em;
  margin-left: 13px;
  border: none;
  position: relative;
  z-index: 1;
}
.btn2::after {
  content: "";
  width: 0;
  height: 0;

  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.5em;

  transition: 0.4s;
  background-color: black;
  z-index: -1;
}
.btn2:hover::after {
  width: 100%;
  height: 100%;
}

/* header  */
header {
  background-color: var(--bgc);
}
.header-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  position: sticky;
  z-index: 100;
}
.header-sec nav ul {
  display: flex;
  list-style-type: none;
  gap: 4.2em;
  margin-left: 10em;
}
.header-sec nav ul li a {
  text-decoration: none;
  color: black;
}
.header-sec nav ul li a:hover {
  color: var(--pc);
}

.btn1 {
  border: none;
  background-color: inherit;
  color: black;
}

/* banner */
.banner-sec {
  background-color: var(--bgc);
  position: relative;
  z-index: 5;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-text {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: self-start;
}
.banner-text p {
  font-size: 1.8em;
}
/* article  */
.article {
  text-align: center;
}

.article-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3.8em;
}
/* hero */

.hero {
  text-align: center;
}

.hero-info {
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  align-items: center;
  gap: 3em;
}
.hero-text span i {
  font-size: 9em;
  color: var(--icon1);
  text-align: left;
}
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 2em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2em;
  border: 1px solid #ddd;
  border-radius: 1em;
  text-align: left;
}
/* job sec  */
.job {
  display: flex;
  gap: 2em;
  justify-content: space-between;
  align-items: flex-start;
}
.job-text {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: self-start;
}
.job-text ul {
  list-style-type: none;
}
.job-text ul li::before {
  content: "\f00c";
  font-family: fontawesome;
  font-size: 1.6em;
  font-weight: 100;
  display: inline-block;
}
.job-text ul li {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 1.6em;
}
/*  feature */
.feature-sec {
  text-align: center;
}
.feature {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2em;
}
.feature {
  display: grid;
  grid-template-columns: 12fr;
}
.feature-info {
  margin-top: 4em;
  display: grid;
  gap: 3em;
  grid-template-columns: repeat(3, 4fr);
}
.feature-text {
  margin-bottom: 2em;
  padding: 4em 3em;
  display: flex;
  flex-direction: column;
  gap: 4em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid #ddd;
  border-radius: 1em;
}
.feature-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature-location .btn2 {
  color: #ff8100;
  background-color: #f7ca9c7b;
  padding: 0.5em 1em;
}
.feature-icon {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.feature-icon button {
  background-color: black;
}
.feature-icon i {
  font-size: 5.4em;
  color: #e69646;
}
.feature-icon p {
  font-size: 18px;
  text-align: left;
  margin-left: -60px;
}
.show-btn button {
  background-color: black;
}
/* seekar */
.seekar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  margin-bottom: 4em;
}
.seekar-says {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.seekar-info {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
.seekar-text {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 2em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px;
  border: 1px solid #ddd;
  border-radius: 1em;
  padding: 4em 3em;
}
.seekar-text i {
  color: rgb(255, 149, 0);
}
.seekar-text h5 {
  font-size: 20px;
}
/* career */
.career {
  background-color: var(--pc);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10em 4em;
  color: white;
  margin: 4em;
}
.career .btn2 {
  padding: 1em 3em;
}
/* denmark  */
.denmark-sec {
  background-color: black;
  clip-path: polygon(0 34%, 100% 0, 100% 100%, 0% 100%);
}
.denmark {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15em 4em;
  align-items: center;
  position: relative;
}
.denmark::after {
  content: "";
  border-bottom: 1px solid #ddd;
  position: absolute;
  bottom: 0;
  left: 2.5%;
  width: 95%;
}
.denmark h2 span {
  text-decoration: underline;
}
/* footer  */
footer {
  background-color: black;
}
.footer-sec {
  text-align: right;
  padding-right: 2em;
}
.footer-sec a {
  font-size: 2em;
  color: white;
  padding-left: 3em;
}

/* responsive */
@media (max-width: 815px) {
  .header-sec {
    flex-direction: column;
    gap: 3em;
  }
  .btn2 {
    background-color: #e1e5e8;
    padding: 0.5em 1.5em;
  }
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 4em;
  }
  .feature-location .btn2 {
    font-size: 1.2em;

    padding: 0.5em 1em;
  }
  .feature-location .btn2 {
    padding: 0.2em 0.5em;
    font-size: 1.2em;
  }
  button {
    padding: 0.2em 0.5em;
  }
  .career .btn2 {
    padding: 0.4em 2em;
  }
}
@media (max-width: 700px) {
  .header-sec nav ul {
    display: grid;
    grid-template-columns: repeat(2, 6fr);
  }
  .article-text {
    flex-wrap: wrap;
  }
  img {
    max-width: 100%;
    box-sizing: border-box;
    padding: 1em 1em;
  }
}
@media (max-width: 560px) {
  .feature-info {
    grid-template-columns: repeat(2, 6fr);
  }
  .banner {
    flex-direction: column-reverse;
  }
  .job {
    flex-direction: column-reverse;
  }
}

@media (max-width: 460px) {
  .header-sec nav ul {
    display: grid;
    grid-template-columns: repeat(2, 6fr);
  }
  .hero-info {
    grid-template-columns: repeat(1, 12fr);
  }
  .seekar-info {
    flex-direction: column;
  }
  .seekar {
    flex-direction: column;
  }

  .career {
    flex-direction: column;
  }
  .career h2 {
    margin-bottom: 1em;
  }
  .denmark {
    flex-direction: column;
  }
  .denmark h2 {
    margin-bottom: 1em;
  }
  .footer-sec a {
    padding-left: 1em;
  }
  .feature-info {
    grid-template-columns: repeat(1, 12fr);
  }
  .career {
    margin: 1em;
  }
}
@media (max-width: 314px) {
  .header-sec nav ul {
    margin-left: 0em;
  }
  .header-sec nav ul {
    display: grid;
    grid-template-columns: repeat(2, 6fr);
  }
  .career h2 {
    font-size: 3.4em;
  }
  .career .btn2 {
    font-size: 1.2em;
    padding: 0.7em 2em;
  }
  .footer-sec {
    display: grid;
    grid-template-columns: repeat(2, 6fr);
  }
  .footer-sec a {
    margin-bottom: 2em;
  }
}
